
/*backgroud*/
body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin-top: 50px;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #000000;
    margin: 0;
    padding: 0;
    z-index: 0;
}


.image {
    display: flex;
    justify-content: space-between;
    align-items: center; 
    height: 100vh;
    position: relative;
}

.logo {
    width: 856px;
    height: 900px; 
    background-image: url(logo.png);
    background-position: left center;
    background-size: 90%;
    background-repeat: no-repeat;
    position: absolute;
    left: 0; 
    z-index: 1; 
}

.reverse {
    width: 856px;
    height: 900px; 
    background-image: url(reverse.png);
    background-position: right center;
    background-size: 90%;
    background-repeat: no-repeat;
    position: absolute;
    right: 0;
    z-index: 1;
}

.gradient-overlay {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: radial-gradient(80.79% 100.51% at 50% 50%, rgba(0, 0, 0, 0.5) 0%, rgba(16, 0, 0, 0.664) 59%, #460000 100%);
    z-index: 2; 
    pointer-events: none; 
}



/*informações*/



p {
    font-family: "Jersey 10", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 37px;
    line-height: 45px;
    
    color: #000000;
}

.info{
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 3;
}


.text{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;
    position: absolute;
    z-index: 4;
    width: 841px;
    height: 502px;
    background: rgba(255, 255, 255, 0.678);
    border-radius: 19px;
    display: flex;
    flex-direction: column;
    align-items: center;


}

.titulo{
    font-family: "Bebas Neue", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 60px;
    line-height: 71px;
    margin-top: 40px;
    margin-bottom: 14px;
}

.inu{
    color: #474747;
    margin-top: 14px;
    margin-bottom: 14px;
    font-size: 37px;
}

.novo{
    color: #2c2c2c;
    margin-top: 14px;
    margin-bottom: 14px;
    font-size: 40px;
}

strong {
    font-weight: 400;
    color: #000000; /* Altera a grossura da fonte para um valor mais espesso */
}